
@using QuanLyXe.Models;
@model List<LoaiSanPham>
<link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/layout.css" rel="stylesheet" />
<link href="~/Content/vendor/swiper/css/swiper.min.css" rel="stylesheet" />
<link href="~/Content/vendor/swiper/css/swiper.css" rel="stylesheet" />

    @foreach (var item in Model)
    { 
            <li><a href="@Url.Action("SanPhamTheoLoai",new {@MaLoai=item.MaLoai })">@item.TenLoai</a></li>
     

    }
    @*<div class="swiper-slide" id="TenNCC">
        <ul>
            <li><a href="@Url.Action("DanhMucloai")">Loại Sản Phẩm Khác</a></li>
        </ul>
    </div>

<style>
    .swiper-slide {
        text-align: center;
    }

        .swiper-slide li {
            color: #f1f1f1;
            float: left !important;
            padding: 2px 5px;
            list-style-type: none;
        }

        .swiper-slide ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            background: #17bed2;
            zoom: 1;
        }



    #TenNCC a {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 14px;
    }

        #TenNCC a:hover {
            background: #F1F1F1;
            color: #333;
        }

    #TenNCC ul li {
        border-right: 1px dotted #999;
        position: relative;
    }
</style>*@