<a href="@Url.Action("GioHang","GioHang")" id="soluong" class="nav-item-child nav-item-hover"><i class="fa fa-shopping-cart" aria-hidden="true"></i>(@ShoppingCart.Cart.Count   @*@ViewBag.TongSoLuong*@)</a>

